@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


@import"abstracts/functions";
@import"abstracts/mixin";
@import"abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import"components/button";
@import"components/composition";
@import"components/feature-box";
@import"components/card";
@import"components/story";
@import"components/bg-video";
@import"components/forms";


@import"layout/header";
@import"layout/grid";
@import"layout/footer";

@import "pages/home";





 

 
