.header {
    height: 95vh;
    position: relative;
    background-image:linear-gradient(to right bottom, 
      rgba($color-primary-light, 0.8),
    rgba( $color-primary-dark, 0.8)) 
      ,url(  ./images/7tb-b37yHx4.png);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 83%, 0% 100%);
   &__logo-box{
    position: absolute;
    top :4rem;
    left :4rem; 
   }


 
&__logo{
 height: 3.5rem;
 

}
&__text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
}
}
 